<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/frustrations/style.css">
  <title>Frustrations</title>
</head>
<body>
  <div>
    <h1>MEN Stack Frustrations</h1>
    <a href="/">Click here to hide all of these frustrations.</a>
    <table>
      <tr>
        <th>Name</th>
        <th>Frustration #1</th>
        <th>Frustration #2</th>
        <th>Frustration #3</th>
        <th>Frustration #4</th>
        <th>Frustration #5</th>
        <th>Delete</th>
      </tr>
      <% frustrations.forEach(frustration => { %>
      <tr>
        <td><%= frustration.name %></td>
        <td><a href="/frustrations/<%= frustration._id %>"><%= frustration.ranking[0] %></a></td>
        <td><a href="/frustrations/<%= frustration._id %>"><%= frustration.ranking[1] %></a></td>
        <td><a href="/frustrations/<%= frustration._id %>"><%= frustration.ranking[2] %></a></td>
        <td><a href="/frustrations/<%= frustration._id %>"><%= frustration.ranking[3] %></a></td>
        <td><a href="/frustrations/<%= frustration._id %>"><%= frustration.ranking[4] %></a></td>
        <td>
          <form 
          action="/frustrations/<%= frustration._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
          >
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="/frustrations/new">Record your frustrations!</a>
  </div>
</body>
</html>